
.login .ant-form{
    margin: 1% 10% 10% 36%;
}

.login .ant-form .ant-row{
    margin: 0% 61% 4% -12%
}
.p-login{
    margin-left: 113px;
    font-size: 40px;
    font-family: fantas;
}
body {
    background-image: url('https://data.designervn.net/2019/09/9676_3c1b0f70d986fd4e324cb43331b33b81.png');   background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
}
