
.login .ant-form{
    margin: 1% 10% 10% 36%;
}

.login .ant-form .ant-row{
    margin: 0% 61% 4% -12%
}
.p-login{
    margin-left: 113px;
    font-size: 40px;
    font-family: fantas;
}
body {background-image: url('https://login.moha.gov.vn/Giaodien/assets/image/login_background.png');}
