
.login .ant-form{
    margin: 1% 10% 10% 36%;
}

.login .ant-form .ant-row{
    margin: 0% 61% 4% -12%
}
.p-login{
    margin-left: 113px;
    font-size: 40px;
    font-family: fantas;
}
body {background-image: url('https://cdn5.f-cdn.com/contestentries/1578585/21468461/5d62b49ac544b_thumb900.jpg');}
