
.login .ant-form{
    margin: 1% 10% 10% 36%;
}

.login .ant-form .ant-row{
    margin: 0% 61% 4% -12%
}
.p-login{
    margin-left: 113px;
    font-size: 40px;
    font-family: fantas;
}
body {background-image: url('https://t3.ftcdn.net/jpg/01/22/48/86/360_F_122488650_kaOfP8UdoTPZtRrlCcsIR1lDoq2OrQZS.jpg');}
