.header {
  font-size: 30px;
  width: 95%;
  margin: auto;
  align-items: center;
  background-color: rgb(229, 231, 245);
}
.btn-action{
  position: absolute !important;
  right: -300px;
  bottom: -15px;
}
.btn-action2{
  position: absolute !important;
  right: -695px;
  bottom: -15px;
}
.ant-btn-primary{
  background: #ffc918 !important;
  
}