.header {
  font-size: 30px;
  width: 95%;
  margin: auto;
  align-items: center;
  background-color: #ffaa004a;
}
.add .ant-form-item-label{
  overflow: inherit;
}
.add .ant-col-14 {
  max-width: 60.333333%;
  left: 19px;
}
@media only screen and  (max-width: 820px)  {
  float: right ; 
}
  
 

